<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POKEMON</title>
  </head>
  <body>
    <header class="identity">
      <p class="identity__grade">Pokemon base</p>
      <h1 class="identity__name">Bulbizarre</h1>
      <div>
        <p class="identity__life">40 PV</p>
        <img
          class="identity__type"
          src="/src/assets/img/leaf.png"
          alt="Type plante"
        />
      </div>
    </header>
    <div class="description">
      <img
        src="/src/assets/img/bulbizarre.jpg"
        alt="Pokémon bulbizarre"
        class="description__image"
      />
      <p class="description__text">Pokémon graine. Taille: 0,7, poids: 6,9kg</p>
    </div>
    <div class="attack">
      <img class="attack__type" src="/src/assets/img/leaf.png" alt="leaf" />
      <img class="attack__type" src="/src/assets/img/leaf.png" alt="leaf" />
      <p class="attack__description">
        Vampigraine À moins que tous les dégats infligés par cette attaque ne
        soient prévenus , vous pouvez retirer 1 marqueur de dégats de
        Bulbizarre.
      </p>
    </div>
    <hr color="black" />
    <div class="stats">
      Faiblesse Resistance Coût de retraite
      <div>
        <img src="/src/assets/img/fire.png" />
        <img src="/src/assets/img/normal.png" />
      </div>
      <hr color="yellow" />
      <div>
        Il a une etrange graine plantée sur son dos.Elle grandit avec lui depuis
        la naissance. NIV. 13 No. 1
      </div>
    </div>
  </body>
</html>

